<!--  ETL Prject: - NCAA Basketball: Web Visualization Dashboard -->

<!DOCTYPE html>
<html lang="en">

<head>
<!-- All meta tags should be first in the header-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Title of dashboard-->
<title>NCSABasketball: Web Visualization Dashboard</title>
<!-- Bootstrap links -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<!-- Scripts-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/style.css?1215">

</head>   
<body>
        
    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation ">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">
                <img src="/static/Images/ncaa_hlogo.png" width="50%" class="img-responsive" ml-auto alt="">
                </a>
              </div>
              <div class ="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ">
                <!--"Championship Bracket" which links to the bracket file -->
                  <li class ="nav-item">
                    <a class ="nav-link" href="/bracket"><i class="fas fa-basketball-ball"></i> Bracket</a>
                  </li>
                  <li class ="nav-item dropdown">
                    <a class ="nav-link dropdown-toggle" data-toggle="dropdown" data-target ="#dropdown_target" href="#"><i class="fas fa-basketball-ball"></i>  Regional Teams
                    
                    </a>
                    <ul class ="dropdown-menu" aria-labelledby="dropdown_target">
                      <li><a class ="dropdown-item" href="/south"> South Regional</a></li>
                      <li><a class ="dropdown-item" href="/west">West Regional </a></li>
                      <li><a class ="dropdown-item" href="/east">East Regional</a></li>
                     <li><a class ="dropdown-item" href="/midwest">Midwest Regional</a></li>
                  </ul>
                </li>
                  <!--"final 4 " which links to the final_four team stat page-->
                  <li class = "nav-item">
                    <a class ="nav-link" href="/final_four"><i class="fas fa-basketball-ball"></i>  Final Four</a>
                  </li>
                  <li class = "nav-item">
                    <a class ="nav-link" href="/finals"><i class="fas fa-basketball-ball"></i>Championship</a>
                    <li class = "nav-item">
                      <a class ="nav-link" href="/table"><i class="fas fa-basketball-ball"></i> Teams Table</a>
                    </li>
                    <li class = "nav-item">
                      <a class ="nav-link" href="/API"><i class="fas fa-basketball-ball"></i> Teams API</a>
                    </li>
                  </li>
                </ul>
              </div>
            </div>
  </nav>
    <!-- End of the Navigation bar-->
    
  <div class ="container-fluid">

    <h1 >NCAA API Team and Player Search</h1>
    <strong><p style = "color:aliceblue;">This API will be able to search and display data from both 2017 and 2018 NCAA championship matches. Instructions on how to use are below.
    </p></strong>
    <h2>Available API Routes:</h2><br>
    
      <!--############# First Row ###################################-->  
    <div class="row" style = "padding-bottom:10px; padding-left: 30px;">

      <div class ="col-md-3"> 
        <a href="/api/2017/team_names">
        <div class="btn btn-primary mt-auto">2017 All Team Names</div>
        </a>
        <p>- Display all of the team names from NCAA 2017 (easy reference to search)</p><p>Example: /api/2017/team_names</p> </div>
        <!----------------------------------->
        <div class ="col-md-1"></div>
        <!----------------------------------->
        <div class ="col-md-3"> 
        <a href="/api/2017/team">
        <div class="btn btn-primary mt-auto">2017 All Team Names Info!</div>
        </a>
        <p>- Display all teams and available stats: from NCAA 2017 </p><p>Example: /api/2017/team</p></div>
        <!----------------------------------->
        <div class ="col-md-1"></div>
        <!----------------------------------->
        <div class ="col-md-3"> 
        <div class="btn btn-primary mt-auto" onclick="myFunction()">2017 Select the Team by Name</div>
        <p id="Team_info" class = "highlight"></p>
        <p>- Search for one particular team. </p><p>Example: /api/v1.0/team/Florida%20St</p>
        </div>
        <!---------------Script -------------------->
      <script>
        var mod_team_name
        function myFunction() {

        var ent_team_name = prompt("Please enter team name", "Florida");
        if (ent_team_name != null) {
          mod_team_name = ent_team_name.replace(" ","%20");
        
          document.getElementById("Team_info").innerHTML =
         ( "NCAA Team Name: " +ent_team_name); 
          
          var str = (" Click here to get Team "+ent_team_name + " Info!");
          var result = str.link("/api/2017/team/"+mod_team_name);
          document.getElementById("Team_info").innerHTML = result;
          }
        }
        </script>
    </div>
    <!--################### End of First Row ###################-->

    <!--#################### Second Row #######################-->
    <div class="row" style = "padding-bottom:10px; padding-left: 30px;">
        <div class ="col-md-3"> 
        <a href="/api/2017/player_names">
          <div class="btn btn-primary mt-auto">2017 All Player Names</div>
        </a>
          <p>- Display all of the player names from NCAA 2017 (easy reference to search)</p><p>Example: /api/2017/player_names</p> </div>
          <!----------------------------------->
          <div class ="col-md-1"></div>
          <!----------------------------------->
        <div class ="col-md-3"> 
          <a href="/api/2017/player">
          <div class="btn btn-primary mt-auto">2017 All Player Names Info!</div>
          </a>
          <p>- Display all Player and available stats: from NCAA 2017</p><p>Example: /api/2017/player</p></div>
          <!----------------------------------->
        <div class ="col-md-1"></div>
        <!----------------------------------->
        <div class ="col-md-3"> 
          <div class="btn btn-primary mt-auto" onclick="myPlayerFunction()">2017 Select the Player Name</div>
          <p id="Player_info" class = "highlight"></p>
          <p>- Search for one particular player.</p><p> Example: /api/v1.0/player/Nick%20DiNardi</p>
        </div>
      
      <script>
      var mod_player_name
      function myPlayerFunction() {
  
        var ent_player_name = prompt("Please enter the player name", "Malcolm Bernard");
        if (ent_player_name != null) {
          mod_player_name = ent_player_name.replace(" ","%20");
          
          document.getElementById("Player_info").innerHTML =
           ( "NCAA Player Name: " +ent_player_name); 
           var str_player = (" Click here to get Player "+ent_player_name + " stats");
          var result_player = str_player.link("/api/2017/player/"+mod_player_name);
          document.getElementById("Player_info").innerHTML = result_player;    
        }

      }
      </script>
    </div>
    <!--#################### End of Second Row ##################################--> 
    <!--#################### Start of Third Row #################################-->
    <div class="row" style = "padding-bottom:10px; padding-left: 30px;">
      <div class ="col-md-3"> 
      <a href="/api/2018/elite_player_names">
        <div class="btn btn-primary mt-auto">2018 Elite Eight Player Names</div>
      </a>
        <p>- Display all of the player names from the NCAA 2018 Elite Eight (easy reference to search)</p><p> Example: /api/2018/elite_player_names</p> </div>
        <div class ="col-md-1"></div>
      <div class ="col-md-3"> 
        <a href="/api/2018/elite_eight">
        <div class="btn btn-primary mt-auto">2018 Elite Eight Players</div>
        </a>
        <p>- Display all Elite Eight players and available stats</p><p> Example: /api/2018/elite_eight </p></div>
      <div class ="col-md-1"></div>
      <div class ="col-md-3"> 
        <div class="btn btn-primary mt-auto" onclick="myElitePlayerFunction()">2018 Select the Elite Player Name</div>
        <p id="Elite_info" class = "highlight"></p>
        <p>- Search for one particular player. </p><p>Example: /api/v1.0/player/Nigel%20Hayes </p>
      </div>
    
      <script>
      var mod_elite_player_name
      function myElitePlayerFunction() {

        var ent_eight_player_name = prompt("Please enter the elite player name", "Nick DiNardi"); 
        if (ent_eight_player_name != null) {
          mod_elite_player_name = ent_eight_player_name.replace(" ","%20");
     
            document.getElementById("Elite_info").innerHTML =
          ( "NCAA Elite 8 Player Name: " + ent_eight_player_name);     
          var str_elite = (" Click here to get Player "+ent_eight_player_name + " stats");
          var result_elite = str_elite.link("/api/2018/elite_eight/"+mod_elite_player_name);
          document.getElementById("Elite_info").innerHTML = result_elite;
        }

      }
      </script>
    </div>  
    <!--#################### End of Third Row #########################-->
    <!--#################### Beginning of the 4th Row #################-->
    <div class="row" style = "padding-bottom:10px; padding-left: 30px;">

      <div class ="col-md-3"> </div>
      <div class ="col-md-1"></div>
        <!----------------------------------->
      <div class ="col-md-3"> 
      <a href="/api/2018/championship">
        <div class="btn btn-primary mt-auto">2018 Championship Game</div>
      </a>
        <p>- Display the 2018 Championship Final</p><p>Example: /api/2018/championship</p>
      </div>
      <!----------------------------------->
      <div class ="col-md-1"></div>
      <!----------------------------------->
      <div class ="col-md-3"> 
        <div class="btn btn-primary mt-auto" onclick="myRegionFunction()">2018 Select the region Name</div>
        <p id="Region_info" class = "highlight"></p>
        <p>- Search for one particular region Teams with seedings. </p><p>Example: /api/2018/Seeds_region/EAST </p>
        </div>
        <!--------------Script--------------------->
        <script>
        var mod_region_name
        function myRegionFunction() {
  
        var ent_region_name = prompt("Please enter the Region name", "SOUTH");
        if (ent_region_name != null) {
          mod_region_name = ent_region_name.toUpperCase();
        
          document.getElementById("Region_info").innerHTML =
         ( "NCAA Region Name: " +ent_region_name); 
          var str_region = (" Click here to Region liest with seeds "+ent_region_name );
          var result_region = str_region.link("/api/2018/Seeds_region/"+mod_region_name);
          document.getElementById("Region_info").innerHTML = result_region;    
      }
  
    }
        </script>
        <!----------------------------------->
      <!----------------
      <div class ="col-md-3"> 
        <div class="btn btn-primary mt-auto" onclick="myRankFunction()">2018 Top NCAA Player Names</div>
        <p id="Rank_info" class = "highlight"></p>
        <p>- Search for one number of top player till Date: 12/13/2018. Example: /api/2018/player_rank/25</p>
        </div>
       -------------Script------------------
        <script>
        var mod_rank_name
        function myRankFunction() {
  
      var ent_rank_name = prompt("Please enter the number for list of top player's name", "25");
      if (ent_rank_name != null) {
        mod_rank_name = ent_rank_name.replace(" ","");
        
        document.getElementById("Rank_info").innerHTML =
         ( "NCAA top Rank Player's Names: " +ent_rank_name); 
         var str_rank = (" Click here to get Top "+ent_rank_name +" Player List");
        var result_rank = str_rank.link("/api/2018/player_rank/"+mod_rank_name);
        document.getElementById("Rank_info").innerHTML = result_rank;    
      }
  
    }
        </script>
        --------------------------------->
  </div>  
  <br>
  </div>
    <!--#################### ENd of the 4th Row #######################-->
  <!-- Footer -->
<footer>
  <!-- Copyright -->
    <p><i class="far fa-copyright"></i>
       Copyright 2018: Liopleurodon
    </p>      
  </footer>
  </body>
</html>