<!doctype html>
<html>
<body>
    <p><a href="http://127.0.0.1:5000/">API Home</a></p>
    <p>This API will be able to searcha and display data from both 2017 and 2018 NCAA championship
        matches. Instructions on how to use are below.
    </p>
    <h1>NCAA API Team and Player Search</h1>
    <br>
    <br>
    Available API Routes:<br>
    <br>
    <br> 
    <strong>/api/v1.0/team_names</strong><br>
    - Display all of the team names for easy reference to search.
    <br>
    <br>
    <strong>/api/v1.0/team</strong><br>
    - Display all teams and available stats.
    <br>
    <br>
    <strong>/api/v1.0/team/(name)</strong><br>
    - Search for one particular team. Example: /api/v1.0/team/Florida%20St
    <br>
    <br>       
    <strong>/api/v1.0/player_names</strong><br>
    - Display all player names for easy reference to search.
    <br>
    <br>
    <strong>/api/v1.0/player</strong><br>"
    - Show all player stats.
    <br>
    <br>
    <strong>/api/v1.0/player/name</strong><br>
    - Search for one particular player. Example: http://127.0.0.1:5000/api/v1.0/player/Nigel%20Hayes.
)
</body>
</html>