<!--  ETL Prject: - NCAA Basketball: Web Visualization Dashboard -->

<!DOCTYPE html>
<html lang="en">

<head>
<!-- All meta tags should be first in the header-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Title of dashboard-->
<title>NCSABasketball: Web Visualization Dashboard</title>
<!-- Bootstrap links -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<!-- Scripts-->
<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script>
    function myFunction() {
      var x = document.getElementById("myDIV");
      if (x.innerHTML === "Hello") {
    x.innerHTML = "Swapped text!";
  } else {
    x.innerHTML = "Hello";
  }
    }
    </script>

<link rel="stylesheet" href="static/css/style.css?version=4">
</head>

         
<body>
    <!-- navbar: A horizontal bar,top of a web page, offering a number of links to help the viewer to navigate the web site. Origin: Shortening of navigation bar. -->
    
    <!-- Navigation -->
 <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation ">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
        <img src="static/Images/ncaa_hlogo.png" width="50%" class="img-responsive" ml-auto alt="">
        </a>
      </div>
      <div class ="collapse navbar-collapse" id="navbarResponsive">
        <ul class="nav navbar-nav ">
        <!--"Championship Bracket" which links to the bracket file -->
          <li class ="nav-item">
            <a class ="nav-link" href="bracket.html"><i class="fas fa-basketball-ball"></i> Championship Bracket</a>
          </li>
          <li class ="nav-item">
            <a class ="nav-link" href="region.html"><i class="fas fa-basketball-ball"></i> All Regions</a>
          </li>
          <!--"final 4 " which links to the final_four team stat page-->
          <li class = "nav-item">
            <a class ="nav-link" href="final_four.html"><i class="fas fa-basketball-ball"></i>  Final Four</a>
          </li>
          <li class = "nav-item">
            <a class ="nav-link" href="finals.html"><i class="fas fa-basketball-ball"></i> National Championship</a>
            <li class = "nav-item">
              <a class ="nav-link" href="table.html"><i class="fas fa-basketball-ball"></i> Teams Table</a>
            </li>
          </li>
        </ul>
      </div>
    </div>
</nav>
<!-- End of the Navigation bar-->
<div class ="container-fluid">
  <div class="row">
  
    <div class ="col-md-6">
      <div class ="panel panel-default">
       <!-- Main panel-->
      <div class="panel-heading panel-heading-custom">
        <h3><img src="static/Images/regional.png " style = "width:20%; height:20%;" alt="reginal"> 2018 NCAA Division I Men's Basketball Tournament - Regions</h3>
      </div>
      <br>
      <div class="panel-body">
        
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header" style = "text-align: center"><i class="fas fa-basketball-ball"></i>  SOUTH  </div>
                <div class="card-body">
                  
                  <p class="card-text"><strong><i class="fas fa-trophy"></i>#11 Loyola–Chicago</strong><br>
                     #9 Kansas State Wildcats</p>
                  <button onclick="myFunction()">South Team List</button>
                  <div id="myDIV">
                      
                      </div>
                      
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                  <div class="card-header" style = "text-align: center"><i class="fas fa-basketball-ball"></i> EAST  </div>
                <div class="card-body">
                  
                  <p class="card-text">#3 Texas Tech Red Raiders<br><strong><i class="fas fa-trophy"></i>#1 Villanova Wildcats</strong></p>
                  <a href="#" class="btn btn-primary"> East Region Teams</a>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
              <div class="col-sm-6">
                  <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header" style = "text-align: center"> <i class="fas fa-basketball-ball"></i> WEST </div>
                    <div class="card-body">
                   
                    <p class="card-text">#9 Florida State Seminoles<br><strong><i class="fas fa-trophy"></i>#3 Michigan Wolverines</strong></p>
                    <a href="#" class="btn btn-primary">West Region Teams </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                  <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header" style = "text-align: center"><i class="fas fa-basketball-ball"></i> MIDWEST </div>
                    <div class="card-body">

                    <p class="card-text">#2 Duke Blue Devils<br><strong><i class="fas fa-trophy"></i>#1 Kansas Jayhawks</strong></p>
                    <a href="#" class="btn btn-primary"> Midwest Region Teams</a>
                  </div>
                </div>
              </div>
        </div>
      </div>
      </div>
    </div>
    <div class ="col-md-6">
    <div class ="panel panel-default">
    <!--side panel-->
    <div class="panel-heading panel-heading-custom">
      <a>
      <img class="img-responsive rounded d-block" src="/static/Images/four.png"  style = "width: 50%; float:right;" alt= ""></a>
      <br>
      <br>
      <table class="infobox" style="width:22em;width:auto">
        <tbody>
          <tr>
            <th scope="row">Season</th>
                <td>2017–18</td>
            </tr>
            <tr><th scope="row">Teams</th>
              <td>68</td>
            </tr>
            <tr><th scope="row">Finals site</th>
              <td>San Antonio, Texas</td>
            </tr>
          </tbody>
      </table> 
    </div>
    <br>
    <br>
    <div class="panel-body" > 
      <div class="row" style ="width: 60%; float:right; text-align: center; padding-right: 20px;">
        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3">
          <a href="south.html">
          <img class="img-responsive" src="/static/Images/Loyola.png"  alt = ""> Loyola–Chicago</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3">
          <a href="west.html">
          <img class="img-responsive" src="/static/Images/Michigan.png" alt= ""> Michigan</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3">
          <a href="east.html">
          <img class="img-responsive" src="/static/Images/Villanova.png" alt=""> Villanova	</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3 ">
          <a href="midwest.html">
          <img class="img-responsive" src="/static/Images/Kansas.png" alt= ""> Kansas</a>
         </div>
      </div>
    </div>
    </div>
    </div>
  </div>  
</div>
                  
<!-- Footer -->
<footer>
<!-- Copyright -->
  <p><i class="far fa-copyright"></i>
                      Copyright 2018
  </p>      
</footer>
                 
</body>
</html>