<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Region Name</th>
      <th>Team Seed</th>
      <th>Team Name</th>
      <th>Team Mascot</th>
    </tr>

  </thead>
  <tbody>
    <tr>
      <th>SOUTH</th>
      <td>1</td>
      <td>Virginia</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>SOUTH</th>
      <td>16</td>
      <td>UMBC</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>SOUTH</th>
      <td>8</td>
      <td>Creighton</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>SOUTH</th>
      <td>9</td>
      <td>Kansas St.</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>SOUTH</th>
      <td>5</td>
      <td>Kentucky</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>SOUTH</th>
      <td>12</td>
      <td>Davidson</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>SOUTH</th>
      <td>4</td>
      <td>Arizona</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>SOUTH</th>
      <td>13</td>
      <td>Buffalo</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>SOUTH</th>
      <td>6</td>
      <td>Miami (FL)</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>SOUTH</th>
      <td>11</td>
      <td>Loyola (IL)</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>SOUTH</th>
      <td>3</td>
      <td>Tennessee</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>SOUTH</th>
      <td>14</td>
      <td>Wright St.</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>SOUTH</th>
      <td>7</td>
      <td>Nevada</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>SOUTH</th>
      <td>10</td>
      <td>Texas</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>SOUTH</th>
      <td>2</td>
      <td>Cincinnati</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>SOUTH</th>
      <td>15</td>
      <td>Georgia St.</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>1</td>
      <td>Villanova</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>16</td>
      <td>Radford</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>8</td>
      <td>Virginia Tech</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>9</td>
      <td>Alabama</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>5</td>
      <td>West Virginia</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>12</td>
      <td>Murray St.</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>4</td>
      <td>Wichita St.</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>13</td>
      <td>Marshall</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>6</td>
      <td>Florida</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>11</td>
      <td>St. Bonaventure</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>3</td>
      <td>Texas Tech</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>14</td>
      <td>Stephen F. Austin</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>7</td>
      <td>Arkansas</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>10</td>
      <td>Butler</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>2</td>
      <td>Purdue</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>15</td>
      <td>Cal St. Fullerton</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>WEST</th>
      <td>3</td>
      <td>Michigan</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>WEST</th>
      <td>1</td>
      <td>Kansas</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>WEST</th>
      <td>1</td>
      <td>Xavier</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>WEST</th>
      <td>16</td>
      <td>Texas Southern</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>WEST</th>
      <td>8</td>
      <td>Missouri</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>WEST</th>
      <td>9</td>
      <td>Florida St.</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>WEST</th>
      <td>5</td>
      <td>Ohio St.</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>WEST</th>
      <td>12</td>
      <td>South Dakota St.</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>WEST</th>
      <td>4</td>
      <td>Gonzaga</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>WEST</th>
      <td>13</td>
      <td>UNC Greensboro</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>WEST</th>
      <td>6</td>
      <td>Houston</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>WEST</th>
      <td>11</td>
      <td>San Diego St.</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>WEST</th>
      <td>14</td>
      <td>Montana</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>WEST</th>
      <td>7</td>
      <td>Texas A&amp;M</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>WEST</th>
      <td>10</td>
      <td>Providence</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>WEST</th>
      <td>2</td>
      <td>North Carolina</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>MIDWEST</th>
      <td>15</td>
      <td>Lipscomb</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>MIDWEST</th>
      <td>16</td>
      <td>Penn</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>MIDWEST</th>
      <td>8</td>
      <td>Seton Hall</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>MIDWEST</th>
      <td>9</td>
      <td>North Carolina St.</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>MIDWEST</th>
      <td>5</td>
      <td>Clemson</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>MIDWEST</th>
      <td>12</td>
      <td>New Mexico St.</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>MIDWEST</th>
      <td>4</td>
      <td>Auburn</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>MIDWEST</th>
      <td>13</td>
      <td>Col. of Charleston</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>MIDWEST</th>
      <td>6</td>
      <td>TCU</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>MIDWEST</th>
      <td>11</td>
      <td>Syracuse</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>MIDWEST</th>
      <td>3</td>
      <td>Michigan St.</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>MIDWEST</th>
      <td>14</td>
      <td>Bucknell</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>MIDWEST</th>
      <td>7</td>
      <td>Rhode Island</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>MIDWEST</th>
      <td>10</td>
      <td>Oklahoma</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>MIDWEST</th>
      <td>2</td>
      <td>Duke</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>MIDWEST</th>
      <td>15</td>
      <td>Iona</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>16</td>
      <td>Long Island</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>EAST</th>
      <td>11</td>
      <td>UCLA</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>WEST</th>
      <td>16</td>
      <td>N.C. Central</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
    <tr>
      <th>MIDWEST</th>
      <td>11</td>
      <td>Arizona St.</td>
      <td>https://i.turner.ncaa.com/sites/default/files/...</td>
    </tr>
  </tbody>
</table>